<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2022 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.imsstack"
    coreApp="true"
    android:process="com.android.imsstack"
    android:versionCode="10000"
    android:versionName="1.00.00">

    <!-- ims permission -->
    <permission android:name="com.android.imsstack.permission.IMS"
        android:protectionLevel="signatureOrSystem" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_USE_RESTRICTED_NETWORKS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.LOCATION_BYPASS"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_ACTIVE_EMERGENCY_SESSION"/>
    <uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PRECISE_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_STK_COMMANDS"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_ICC_AUTH_WITH_DEVICE_IDENTIFIER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="com.android.telephony.permission.USE_IMSMEDIA"/>

    <!--  Application -->
    <application
        android:label="@string/app_name"
        android:persistent="true"
        android:process="com.android.imsstack"
        android:name="com.android.imsstack.ImsStackApp"
        android:allowClearUserData="false"
        android:directBootAware="true"
        android:defaultToDeviceProtectedStorage="true"
        android:usesCleartextTraffic="true">

        <!-- Engineering hidden menu -->
        <activity
            android:permission="com.android.imsstack.permission.IMS"
            android:name=".test.menu.ImsConfigMenu"
            android:resizeableActivity="true"
            android:process="com.android.imsstack"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="com.android.imsstack.action.IMS_PROVISIONING" />
                <action android:name="com.android.imsstack.action.IMS_CONFIG_MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:permission="com.android.imsstack.permission.IMS"
            android:name=".test.menu.CarrierConfigMenu"
            android:resizeableActivity="true"
            android:process="com.android.imsstack"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="com.android.imsstack.action.CARRIER_CONFIG_MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:permission="com.android.imsstack.permission.IMS"
            android:name=".test.menu.TestConfigMenu"
            android:resizeableActivity="true"
            android:process="com.android.imsstack"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="com.android.imsstack.action.TEST_CONFIG_MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:permission="com.android.imsstack.permission.IMS"
            android:name=".test.DebugScreen"
            android:label="Debug Screen"
            android:resizeableActivity="true"
            android:process="com.android.imsstack"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="com.android.imsstack.action.DEBUG_SCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Service -->
        <service
            android:name=".imsservice.ImsService"
            android:exported="true"
            android:persistent="true"
            android:singleUser="true"
            android:permission="android.permission.BIND_IMS_SERVICE"
            android:process="com.android.imsstack">
            <meta-data android:name="android.telephony.ims.MMTEL_FEATURE"
                android:value="true"/>
            <meta-data android:name="android.telephony.ims.EMERGENCY_MMTEL_FEATURE"
                android:value="true"/>
            <meta-data android:name="android.telephony.ims.RCS_FEATURE"
                android:value="true"/>
            <intent-filter>
                <action android:name="android.telephony.ims.ImsService"/>
            </intent-filter>
        </service>
        <!-- Receiver -->
        <receiver
            android:name=".enabler.aos.CarrierSignalReceiver"
            android:exported="true"
            android:singleUser="true">
            <intent-filter>
                <action android:name="android.telephony.action.CARRIER_SIGNAL_PCO_VALUE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.StkSetupEventReceiver"
            android:exported="true"
            android:singleUser="true">
            <intent-filter>
                <action android:name="android.telephony.action.STK_SETUP_EVENT_LIST"/>
            </intent-filter>
        </receiver>
    </application>

    <uses-sdk android:minSdkVersion="31" />

</manifest>
